# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [1]:
a = "Hello, wolrd!"

In [2]:
len(a)

13

In [3]:
name = "Nikhil"

In [4]:
a = "Hello, {}".format(name)

In [5]:
print(a)

Hello, Nikhil

In [8]:
a = "aaaaakjgdghhkdjhbdkaaaaa"

In [11]:
a.lstrip('a')

'kjgdghhkdjhbdkaaaaa'

In [27]:
name = input().strip()

  jkdsgj

In [28]:
name

'jkdsgj'

In [18]:
a = "Nikhil Kumar"

In [21]:
a.split()

['Nikhil', 'Kumar']

In [22]:
a.replace('N', 'n')

'nikhil Kumar'

In [23]:
a.count('i')

2

In [30]:
a = "abcd"

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [32]:
a = [1,2,3]

In [33]:
type(a)

list

In [34]:
a = ['a', 1, 1.0, -1, 'dshkbnk']

### Basic operations
![](images/list_oper.png)

In [35]:
len(a)

5

In [37]:
2 in a

False

In [39]:
a = [1,2,3]

In [40]:
a.append(4)

In [41]:
a

[1, 2, 3, 4]

In [45]:
a.insert(0, 56387)

In [46]:
a

[56387, 1, 2, 5, 3, 4]

In [38]:
for x in a:
    print(x)

a
1
1.0
-1
dshkbnk

### Indexing and list slicing

![](images/indexing.png)

In [47]:
a[0]

56387

In [48]:
a = [1,2,3,4,5]

In [49]:
a[-1]

5

In [57]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [66]:
a = [1,2,3,4,5,6,7,8,9,10]

In [67]:
a[::2]

[1, 3, 5, 7, 9]

In [68]:
a[1::2]

[2, 4, 6, 8, 10]

In [69]:
a[::2] + a[1::2]

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [56]:
a[::2]

[1, 3, 5]

### Updating the list

- insert

- append

In [61]:
a.append(5)

In [62]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]

In [63]:
a.insert(0, -1)

In [64]:
a

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]

### Deleting list elements

- del
- pop
- remove

In [91]:
a = [1,2,3,4,5]

In [77]:
del(a[0])

In [95]:
last_item = a.pop(0)

In [96]:
last_item

1

In [99]:
a = [1,2,2,3,3,2]

In [102]:
while 2 in a:
    a.remove(2)

In [103]:
a

[1, 3, 3]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [107]:
a = [1,4,2,3,0]

In [105]:
a.sort()

In [106]:
a

[0, 1, 2, 3, 4]

In [108]:
sorted(a)

[0, 1, 2, 3, 4]

In [109]:
a

[1, 4, 2, 3, 0]

In [112]:
a.reverse()

In [113]:
a

[0, 3, 2, 4, 1]

In [111]:
list(reversed(a))

[0, 3, 2, 4, 1]

### map, strip and split function (just some utilities when you input a list)

In [130]:
nums = list(map(float, input().split()))

 1

In [131]:
nums

[1.0]

In [115]:
nums

'1 2 3 4 5'

In [120]:
nums = nums.split()

In [122]:
nums

['1', '2', '3', '4', '5']

In [121]:
list(map(int, nums))

[1, 2, 3, 4, 5]

### Printing a list using join

In [143]:
a = []
for x in range(10):
    a.append(x**2)

In [144]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [151]:
# List comprehension
a = [x**2 for x in range(10)]

In [146]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [152]:
a = ['Nikhil', 'Ajay', 'Ravi']

In [153]:
print(" ".join(a))

Nikhil Ajay Ravi

In [154]:
a = [1,2,3,4]

In [159]:
print("_".join(str(x) for x in a))

1_2_3_4

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

In [170]:
a = [1,4,4,4,3,1,2]

In [168]:
m = max(a)
while m in a:
    a.remove(m)

In [169]:
max(a)

4

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [174]:
a = (1,2,3)

In [175]:
type(a)

tuple

In [178]:
def sum_diff(a, b):
    return a+b, a-b

In [181]:
type(sum_diff(2,3))

tuple

### List to tuple and tuple to list...

In [183]:
a = (1,2,3)

In [184]:
type(a)

tuple

In [185]:
a = list(a)

In [186]:
type(a)

list

In [187]:
a

[1, 2, 3]

In [197]:
a = (1, )

In [198]:
a

(1,)

In [199]:
type(a)

tuple

### Returning multiple values from functions (The returned thing is a tuple!)

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

**is operator**

In [202]:
(1,2) == (1,2)

True

In [205]:
a = (1,2)

In [206]:
a is a

True

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [208]:
data =  [
    ('A', 10),
    ('B', 20),
    ('C', 30)
]

In [210]:
name = 'A'

In [212]:
for record in data:
    if record[0] == name:
        print(record[1])

10

In [216]:
d = { 'A': 10, 'B': 20, 'C': 30 }

In [217]:
d['A']

10

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [221]:
d.get('A', 'Not found!')

10

In [228]:
a = 10,20

In [230]:
a

(10, 20)

In [231]:
d.items()

dict_items([('A', 10), ('B', 20), ('C', 30)])

In [233]:
for key, val in d.items():
    print(key,val)

A 10
B 20
C 30

In [234]:
d.keys()

dict_keys(['A', 'B', 'C'])

In [235]:
d.values()

dict_values([10, 20, 30])

In [236]:
d.pop('A')

10

In [237]:
d

{'B': 20, 'C': 30}

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [251]:
a = {1, 2, 3}

In [240]:
type(a)

set

In [241]:
a.add(4)

In [250]:
a

set()

In [248]:
b = {3,4,5}

In [255]:
a.union(b)

{1, 2, 3, 4, 5}

In [252]:
a.intersection(b)

{3}

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)